body {
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
    "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100vw;
  height: 100vh;
  margin: 0;
  background: #2a7b9b;
  background: linear-gradient(
    90deg,
    rgba(42, 123, 155, 1) 0%,
    rgba(87, 199, 133, 1) 50%,
    rgba(237, 221, 83, 1) 100%
  );
}

h1 {
  background-color: aliceblue;
  opacity: 75%;
  padding: 5px 15px;
  border-radius: 5px;
}

.clock {
  position: relative;
  background: rgba(255, 255, 255, 0.33);
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  -webkit-backdrop-filter: blur(5px);
  backdrop-filter: blur(5px);
  border: 6px solid rgba(255, 255, 255, 0.3);
  width: 30rem;
  height: 30rem;
  border-radius: 50%;
  margin: 50px auto;
  padding: 2rem;
}

.clock-face {
  position: relative;
  width: 100%;
  height: 100%;
  transform: translateY(-3px);
}

.hand {
  width: 50%;
  background-color: black;
  position: absolute;
  top: 50%;
  transform-origin: 100%;
  transform: rotate(90deg);
  transition: all 0.05s;
  transition-timing-function: cubic-bezier(0.13, 2.51, 1, 1);
}

.second-hand {
  height: 2px;
  background-color: rgb(109, 0, 0);`
}

.minute-hand {
  height: 6px;
}

.hour-hand {
  height: 14px;
}

.digital-clock {
  display: flex;
  gap: 10px;
  font-size: 36px;
}
